language: node_js
node_js: '7'
before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH=$HOME/.yarn/bin:$PATH
install:
- yarn
script:
- yarn run lint
- yarn run test
- yarn run build
after_success:
- bash <(curl -s https://codecov.io/bash)
cache:
  directories:
  - node_modules
deploy:
  provider: npm
  email: lee.braddock@cru.org
  api_key:
    secure: EFIhkyp/nD4LXKlqzLWT6Am1R8/KueENqCT/VD6slxozjb+kfvspxUhqUbaP8oh8pv+TLmWdvr+nbArjvnB89RrDRBlJYp2PoqL3mWGbP2MzxCmJ3kFXUvVAvuIhS9g6MJjSw+baTsF64p36ClTpzD526FBmvZDav0TJcvKdFMpSLN1Ms+LZngRbvXfNolLZxL/jRrI4fSovsWoHs1oiXlSSEs6UNaaC2MxHn/+3r+0kfRg58Oqoud481uwUVRcU7CFKXuettHFLdEajLYV92vWEqaeW2mjnVgFA9fV+vtHMUCcAOUvTw93aa097qZSK0xzdJaaDSLb3gDHm034AcT6ODAHGCaOng1EeFRpPwZlRGd2gUG++c/n7P5/oZnhNnfNS1fZ6O55Lz/FLVR5bVkAcBNsfNHjlwEUiS1xYjhb2B8KDO9DXUBjRqmrth4EUpC79gee/nMH48ROuw5sk8dOnFehVHqwD8tIwaSmNRumm4D7UIRDdEvkPi8mqQm4KSI8AEsvs9vWCwZOmnzZE1S52RH5iZmSdBbE1of5icTpvPW0BiLI/tNaGI8zERqdsMM/IvK8FXyFkjolgvaRJoLViCZQDknGZYZFW74UUQ7QWH68l5V1lHXlKPvgP1j/ufGS68cyRLgYR+zHZsRTDuWdpI3lbnSoiIX71qXg8NOw=
  on:
    repo: CruPCI/cru-payments
    branch: master
    tags: true
  skip_cleanup: true
notifications:
  hipchat:
    on_success: change
    rooms:
      secure: Rfy9hfbS87Xp0JG6x33+JCPp9VSZoLYyRhcsPkKKIreO6WpM8eXtvS3Jn6f8Xyi/ZNPpJ0/M3lwz2Gr0HI2uWpbvsxgknBHwO5RFjZ3HnDzf2pQH7oep56+a3ps0QDY6blERdcB9OUw/SAeEkjPx+D5NSqRl/452/Lk7oybgF708u0szbBcQvol/mxE3bsBhHsJJFXRKn2J58TIImwbor3VZKWLnlRQMGrC3+l5j+AHQrl5L2MvCJHtqLAmt7ysW+vWXV6ABOcAyUO2PcJ7ripXXTXv0gYNBYfqcNH1VveN6nO7mTst63CZCOiHPU4zLb/FrPO0zcx8VMjh5qdIrfV/qbDUGQnxabfX3LxKtbhacbh0YHjk73XO82PTPRW6AtIStguhXi6f3Y0l0Ybm8d16ZYZlQWSE3wTRHr2TcB5nOVa6ZKgCS+4T77fGT5sizHTYN5mJUx2BLuoYAGcwNddAJdnQulcSEs8SFbl5fXBDtGTRkzh+ffo0F3CLmVgAKhB2HwfvgK8MonowSbng9AVZP0+OObHV+JWWmEext1Jd3lZn/pw399rm4AHaKx5WicV+wjFP53LckuX1scEzHIqwesunROjaIvViRkiZy1Ld1+5RPGrmOjkvUuhBdqfElheDlQ+GVG0PY/A87OZP0AYiaZ20rJZXOSbtbK1rQ8wU=
